<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Kse-Task</h4>
            <p>Simplify your life with our intuitive task management solution.</p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/home">Get-Started</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contact</h4>
            <ul>
                <li>Email: caua_pd2019@hotmail.com</li>
                <li>Phone: (18) 99682-8557</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> Kse-Task. All rights reserved.</p>
    </div>
</footer>