<link rel="stylesheet" href="/css/header.css">
<nav>
    <div class="logo"><a href="/">Kse-Tasks</a></div>
    <div class="nav-links">
        <a href="/home">Get-Started</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</nav>